@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --green:#00E77F;
   --white:#fff;
   --light-white:#aaa;
   --black:#3d3d3d;
   --light-bg:#4b4b4b;
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   transition: .2s linear;
   text-transform: capitalize;
}

*::selection{
   background-color: var(--white);
   color:var(--black);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--green);
   border-radius: 5rem;
}

body{
   background-color: var(--black);
}

section{
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   border-radius: 5rem;
   background-color: var(--light-bg);
   cursor: pointer;
   color: var(--white);
   font-size: 1.8rem;
   padding: 1rem 3rem;

}

.btn:hover{
   background-color: var(--white);
   color: var(--black);
}

.header{
   position: fixed;
   top:0; 
   left:0; 
   right:0;
   z-index: 1000;
   background-color: var(--light-bg);
}

.header .flex{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--white);
}

.header .flex .navbar a{
   margin-left: 2rem;
   color:var(--light-white);
   font-size: 2rem;
}

.header .flex .navbar a:hover{
   color:var(--green);
}

#menu-btn{
   cursor: pointer;
   color:var(--white);
   font-size: 2.5rem;
   display: none;
}

#menu-btn:hover{
   color: var(--green);
}

.home{
   margin-top: 6rem;
}

.home .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap-reverse;
   gap: 1.5rem;
}

.home .row .content{
   flex: 1 1 40rem;
   text-align: center;
}


.home .row .image{
   flex: 1 1 40rem;
}

.home .row .image img{
   width: 100%;
}

.home .row .content h3{
   margin-bottom: 1rem;
   font-size: 10rem;
   color: var(--white);   
   line-height: 1;

}

.home .row .content h3 span{
   color: var(--green);
}






















/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   .home .row .conten h3{
      font-size: 8rem;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; 
      left:0; 
      right:0;
      border-top: .1rem solid var(--light-white);
      border-bottom: .1rem solid var(--light-white);
      background-color: var(--light-bg);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
   
   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .home .row .conten h3{
      font-size: 5rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
   
}